yarn-error.log
/node_modules
backend/node_modules
backend/yarn-error.log
backend/dist
backend/config.json
frontend/.cache
frontend/dist
frontend/node_modules
frontend/yarn-error.log
task/node_modules
task/yarn-error.log
files
.DS_Store
credentials.csv
