#map {
    height: 100vh;
}

#filterCard {
    margin: 1em;
    width: 300px;
    font-size:14px;
    z-index:1;
    .noUi-horizontal {
        height: 14px;
    }
    .noUi-marker-horizontal.noUi-marker-large {
        height: 10px;
    }

    .noUi-horizontal .noUi-handle {
        width: 28px;
        height: 24px;
        cursor: pointer;
        &:before, &:after {
            height: 10px;
        }
        &:before {
            left: 8px;
        }
    }
}
.infoWindow {
    z-index: 40;
    min-width: 400px;
    min-height: 400px;
}
.map-ctr-btn {
    z-index: 100;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;
    background: #fcfcfd;
    text-align: center;
    color: black;
    cursor: pointer;
    i {
        vertical-align: middle;
    }
}